*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.gallary div{
    width: 100%;
    height: 100%;
}

p{
    color: #fff;
    text-align: center;
}

.gallary{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
    border: 1px solid red;

}

.one{
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    
}
.two{
    background-color: yellow;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.third{
    background-color: green;
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end: 4;
}
.forth{
    background-color: rgb(195, 26, 54);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
.five{
    background-color: blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.six{
    background-color: red;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}